/* general */
body {
    background-color: #121212;
    font-family: 'Raleway', sans-serif;
    color: white;
    margin: 0;
    padding: 0;
    font-size: 16px;
}
.body-content {
    background-color: #363636;
    max-width: 1012px;
    min-width:360px;
    margin: auto;
}
h1 {
    margin: 0;
    padding: 10px;
    font-size:3em;
}

/* hideable section */
.hideable-section {
    margin: 36px;
}
.hideable-section.hidden {
    
}
.hideable-section .icon {
    display: inline-block;
    vertical-align: middle;
}
.hideable-section .title {
    font-size:2em;
    display: inline-block;
    cursor: pointer;
}
.hideable-section .content {
    display:block;
    border-left: 3px solid white;
    margin:8px;
    padding:10px;
}
.hideable-section.hidden .content {
    display:none
}

/* forms */
form {
    margin: 0;
}
.input-component {
    margin:8px;
    padding: 8px 0;
}
.input-component label {
    display: block;
    font-weight: bold;
}
.input-component input {
    display: block;
    padding-top: 8px;
    margin-bottom: 3px;
    width: 100%;
    max-width: 540px;
}
.input-component input[type=radio]
{
    display: inline;
    width: auto;
    margin-right: 30px;
}
.input-component .info {
    display: block;
    font-size: 0.8em;
}
.input-component.text input {
    background-color:transparent;
    border: none;
    border-bottom: 1px solid white;
    color: white;
}
label.input-players {
    background-color: grey;
    border: 1px solid transparent;
    display: inline-block;
    min-width: 69px;
    padding: 8px;
    margin-right: 10px;
    cursor: pointer;
}
label.input-players:hover {
    background-color: transparent;
    border: 1px solid greenyellow;
}
label.input-players input:checked + .player{
    color: greenyellow;
}
.input-players .player {
    display: inline-block;
    font-weight: normal;
}
.input-players input {
    display: inline-block;
    margin: 0;
    padding: 0;
    width: 20px;
}

/* buttons */
.button {
    background-color: greenyellow;
    border: 1px solid transparent;
    cursor: pointer;
    margin: 8px;
    padding: 8px;
    width: 160px;
    color: black;
    font-weight: bold;
    text-decoration: none;
}
.button:hover {
    border: 1px solid greenyellow;
    background-color: transparent;
    color: white;
}
