body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}   

.right-link {
    vertical-align: middle;
    padding-left:16px;
    padding-top:6px;
}

.switch span{
    margin-right:10px;
}

.edit-btn-collapse {
    padding: 10px 20px;
}

.bonus{
    color:darkgreen;
}
.malus{
    color:darkred;
}
.score-table .total {
    font-weight: bold;
}

#modal-edit-button {
    display: none;
}

blockquote.journal {
    border-left: 5px solid #2bbbad;
}

footer.page-footer {
    background-color: #26a69a;
    padding: 10px 0;
}

footer.page-footer a{
    color: white;
    margin-left: 20px;
    text-decoration: underline;
}