body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background-color: white;
    margin: 0;
}

main {
    flex: 1 0 auto;
}   

.right-link {
    vertical-align: middle;
    padding-left:16px;
    padding-top:6px;
}

.switch span{
    margin-right:10px;
}

.edit-btn-collapse {
    padding: 10px 20px;
}

.bonus{
    color:darkgreen;
}
.malus{
    color:darkred;
}
.score-table .total {
    font-weight: bold;
}

.group-player-selector label {
    min-width:69px;
    display:inline-block;
}

#modal-edit-button {
    display: none;
}

blockquote.journal {
    border-left: 5px solid #2bbbad;
}

footer.page-footer {
    background-color: #26a69a;
    padding: 10px 0;
}

footer.page-footer a{
    color: white;
    margin-left: 20px;
    text-decoration: underline;
}

input[type="month"] {
    background-color: transparent;
    border: none;
    border-bottom-width: medium;
    border-bottom-style: none;
    border-bottom-color: currentcolor;
    border-bottom: 1px solid #9e9e9e;
    border-radius: 0;
    outline: none;
    height: 3rem;
    font-size: 16px;
    margin: 0 0 8px 0;
    padding: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    -webkit-transition: border .3s, -webkit-box-shadow .3s;
    transition: border .3s, -webkit-box-shadow .3s;
    transition: box-shadow .3s, border .3s;
    transition: box-shadow .3s, border .3s, -webkit-box-shadow .3s;
}

/* fames */
.fame {
    margin-bottom: 5px;
}
.fame .hf {
    display: inline-block;
    border: 1px solid black;
    border-radius: 5px;
    margin-left: 5px;
}
.fame .hf .tooltipped {
    display:inline-block;
}
.fame .hf .icon {
    display: inline-block;
}
.fame .hf .name {
    display: inline-block;
    vertical-align: top;
    margin:3px;
}
.badge-link {
    color: black;
    vertical-align: top;
}

.heatmap {
    margin-bottom:10px;
}
rect.bordered {
stroke: #E6E6E6;
stroke-width:2px;
}

text.mono {
    font-size: 9pt;
    font-family: Consolas, courier;
    fill: #000;
}

text.axis-workweek {
fill: #000;
}

text.axis-worktime {
fill: #000;
}

.heatmap-tooltip {
    background-color: black;
    color: white;
    border-radius: 3px;
    padding:4px;
    width: 80px;
    text-align:center;
}

.epicButton {
    border:none;
    border-radius:50%;
    height:200px;
    width:200px;
    font-size:27px;
    background-color:green;
    color:white;
    text-shadow: 0px 0px 3px white;
    transition: all 1s;
    margin:20px;
    box-shadow: 0px 0px 5px #9e9e9e;
    cursor: pointer;
}

.epicButton:hover {
    text-shadow: 0px 0px 20px black;
    background-color:rgb(158, 228, 158);
    color:black;
    box-shadow: 0px 0px 10px black;
}

@keyframes annoyance-anim-1 {
    0% {transform: rotateZ(0turn);}
    100% {transform: rotateZ(1turn);}
}
@keyframes annoyance-anim-2 {
    0% {transform: rotateZ(1turn);}
    100% {transform: rotateZ(0turn);}
}
@keyframes annoyance-anim-3 {
    0% {transform: rotateZ(0turn);}
    100% {transform: rotateZ(1turn);}
}
.annoyance {
    position:fixed;
    transition: 1s all;
    cursor: pointer;
}

#splashscreen {
    background-color: black;
}

#loadingScreen {
    display: none;
    animation: all .5s;
    position: absolute;
    z-index: 5;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#loginForm {
    display: none;
    opacity: 0;
}

.card-title {
    background-color: #0003;
}

.sorted {
    text-decoration: underline;
}