<h1><a href="/">&lsaquo;</a>Partie {{game.name}}</h1>

{{> tarot }}

Tours:
<ul>
    <li> > tour1 (edit)</li>
    <li> > tour2 (edit)</li>
    <li> > tour3 (edit)</li>
</ul>

Scores:<br>
HCE: 154 | ABC: 50 | A1: -50 | A2: 254 | A3: 1544<br>
>(dépliable)<br>

Graph:<br>
[]<br>



