<h2><a href="/">&lsaquo;</a>Partie {{game.name}}</h2>

<a class="waves-effect waves-light btn modal-trigger right-link" href="#add">
    <i class="material-icons left">add_circle_outline</i>
    Nouveau tour
</a>

<div id="add" class="modal">
    <div class="modal-content">
        {{> tarot }}
    </div>
</div>


<h3>Tours</h3>
<ul class="collapsible">
    <li>
        <div class="collapsible-header">Tour #1 <a href="#!" class="secondary-content"><i class="material-icons">edit</i></a></div>
        <div class="collapsible-body">
            <span>Lorem ipsum dolor sit amet.</span>
        </div>
    </li>
</ul>

<h3>Scores</h3>

<table>
    <thead>
        <tr>
            <th>#</th>
            {{#each game.players}}
            <th>{{.}}</th>
            {{/each}}
        </tr>
    </thead>
    <tbody>
        
    </tbody>
</table>

<h3>Graphique</h3>


