<h1>{{group}}</h1>

<div class="button" id="newGame">Nouvelle partie</div>


<div class="hideable-section hidden">
    <div class="title">
        <img class="icon" src="/icons/game.png">
        Parties
    </div>
    <div class="content">
        TODO previous parties
    </div>
</div>

<div class="hideable-section hidden">
    <div class="title">
        <img class="icon" src="/icons/players.png">
        Joueurs
    </div>
    <div class="content">
        TODO players here
    </div>
</div>