<h1>Groupe {{group}}</h1>

{{#if error}}
    <div class="warning error">{{error}}</div>
{{/if}}

<a class="button" href="/new/game">Nouvelle partie</a>

<div class="hideable-section hidden">
    <div class="title">
        <img class="icon" src="/icons/game.png">
        Parties
    </div>
    <div class="content">
        TODO previous parties
    </div>
</div>

<div class="hideable-section hidden">
    <div class="title">
        <img class="icon" src="/icons/players.png">
        Joueurs
    </div>
    <div class="content">
        TODO players here
    </div>
</div>