<h1>Tarot</h1>
{{#if error}}
    <div class="warning error">{{error}}</div>
{{/if}}

<div class="hideable-section hidden">
    <div class="title">
        <img class="icon" src="/icons/plus.png">
        Nouveau groupe
    </div>
    <div class="content">
        <form action="/group/add" method="POST">
            <div class="input-component text">
                <label>Groupe</label>
                <input type="text" name="name" placeholder="Ce Super groupe" required>
                <div class="info"></div>
            </div>

            <div class="input-component text optionnal">
                <label>Mot de passe (optionnel)</label>
                <input type="password" name="password">
                <div class="info">Optionnel</div>
            </div>
            
            <input type="submit" value="Créer" class="submit">
        </form>
    </div>
</div>

<div class="hideable-section hidden">
    <div class="title">
        <img class="icon" src="/icons/group.png">
        Mon groupe
    </div>
    <div class="content">
        <form action="/login" method="POST">
            <div class="input-component text">
                <label>Groupe</label>
                <input type="text" name="name" placeholder="Mon Super groupe" required>
                <div class="info"></div>
            </div>

            <div class="input-component text optionnal">
                <label>Mot de passe (optionnel)</label>
                <input type="password" name="password">
                <div class="info"></div>
            </div>
            
            <input type="submit" value="Se connecter" class="submit">
        </form>
    </div>
</div>

