<div class="row">
    <h2 class="col offset-m3">Tarot - v0.5.0</h2>
</div>

<canvas id="loadingScreen"></canvas>

{{#if error}}
<div class="row">
    <blockquote class="col offset-m3">
        {{error}}
    </blockquote>
</div>
{{/if}}
<div class="row" id="loginForm">
    <form action="/login" method="POST" class="col s12 m8 offset-m2 z-depth-1">
        <div class="row">
            <div class="input-field col s10 offset-s1">
                <input id="name" name="name" type="text" class="validate" required>
                <label for="name">Nom du groupe</label>
            </div>
        </div>

        <div class="row">
            <div class="input-field col s10 offset-s1">
                <input id="password" type="password" name="password">
                <label for="password">Mot de passe (optionnel)</label>
            </div>
        </div>

        <div class="row">
            <button  type="submit" class="waves-effect waves-light btn offset-s1 col">Se connecter</button> 
            <a class="modal-trigger right-link" href="#add">Créer un groupe</a>
        </div>
    </form>
    
    <div id="add" class="modal">
        <div class="modal-content">
            <form action="/group/add" method="POST">
                <div class="row">
                    <div class="input-field col s10 offset-s1">
                        <input id="add_name" name="name" type="text" class="validate" required>
                        <label for="add_name">Nom du groupe</label>
                    </div>
                </div>

                <div class="row">
                    <div class="input-field col s10 offset-s1">
                        <input id="add_password" type="password" name="password">
                        <label for="add_password">Mot de passe (optionnel)</label>
                    </div>
                </div>

                <div class="row">
                    <button formaction="/group/add" type="submit" class="waves-effect waves-light btn offset-s1 col">Créer le groupe</button> 
                </div>
            </form>
        </div>
    </div>
    
</div>

